<h1><%= @customer.name %></h1>
<% @customer.items.each do |item| %>
  <div id="item-<%= item.id %>">
    <h3><%= item.name %></h3>
    <p>Price: $<%= item.price %></p>
    <p>Bought at: <%= item.supermarket_name %></p>
  </div>
<% end %>
<br>

<div id="add-item">
  <h4>Add Item</h4>
  <%= form_with url: "/customers/#{@customer.id}/items", method: :post, local: true do |f| %>
    <%= f.number_field :item_id, placeholder: "Item ID" %>
    <br>
    <%= f.submit "Add Item to #{@customer.name}'s List" %>
  <% end %>
</div>
